

body{

background-color: hotpink
color:lightcoral




}
.capa{
    color:violet
    font-size: 20px;
}


#heroi{
     display: flex;
     overflow: auto;
     gap: 10px;
}

      .videos img{
         opacity: 0.5; 
         height: 200px;
         }
        .videos img:hover{
            opacity: 1.0;
            border: 3px solid
        }